@model Projeto17B.Models.Compras

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Compras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roupa.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roupa.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_pagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_pagar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
